<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/insidelayout">
<head>
  <meta charset="UTF-8">
  <title>Add New Chit</title>
</head>
<body>
<div layout:fragment="pagetitle">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Add New Chit</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Chit</a></li>
            <li class="breadcrumb-item active">Add New Chit</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</div>
<div  layout:fragment="content">
  <div class="content">
    <div class="container-fluid">


    </div>

  </div>
</div>

</body>
</html>