<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/outsidelayout">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>


<div  layout:fragment="content">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="login-box col-12 col-sm-6 offset-sm-3">
            <!-- /.login-logo -->
            <div class="card card-outline card-primary">
              <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Chit</b>Biz</a>
              </div>
              <div class="card-body">
                <p class="login-box-msg">Organise your Chit Business</p>
                <div th:if="${param.error}">
                  Invalid username and password.</div>
                <div th:if="${param.logout}">
                  You have been logged out.</div>
                <form th:action="@{/login}" method="post" id="login">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="userid">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                  </div>
                </form>
                <p class="mb-1">
                  <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                  <a href="register.html" class="text-center">Register a new Account</a>
                </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>


        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>


  </div>



</body>
</html>